<html>

<head>
    <title>Acme Financial Corp</title>
</head>

<body>
    <h1>Program Application</h1>
	
    <div id="addApplication">
        <h2>Enter Name and Zipcode:</h2>
        <input type="text" id="applicantName" placeholder="Applicant Name">
        <input type="text" id="applicantZipcode" placeholder="Applicant Zipcode">
        <button onclick="addApplication()">Apply</button>
    </div>


    <div id="conformationText">
    </div>

    <h1>Check Application Status:</h1>
    <div id="checkStatus">
        <input type="text" id="applicationNumber" placeholder="Application Number">
        <button onclick="checkApplicationStatus()">Check</button>
    </div>


    <div id="statusText">
    </div>

    <h1>Change Application Status</h1>

    <div id="processApplication">
        <h2>Process an Application:</h2>
        <input type="text" id="applicationNumber" placeholder="Application Number">
        <input type="text" id="subStatus" placeholder="Sub status">
        <input type="text" id="processingMessage" placeholder="Processing message">
        <button onclick="processApplication()">Process</button>
    </div>

    <div id="processText">
    </div>

    <div id="acceptApplication">
        <h2>Accept an Application:</h2>
        <input type="text" id="applicationNumber" placeholder="Application Number">
        <input type="text" id="acceptNotes" placeholder="Notes">
        <button onclick="acceptApplication()">Accept</button>
    </div>

    <div id="acceptText">
    </div>

    <div id="rejectApplication">
        <h2>Reject an Application:</h2>
        <input type="text" id="applicationNumber" placeholder="Application Number">
        <input type="text" id="rejectNotes" placeholder="Notes">
        <button onclick="rejectApplication()">Reject</button>
    </div>

    <div id="rejectText">
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>

